XSDs/batch_from_LOMS.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML 2014 Developer Bundle Edition (Education) 12.2.8.5459 (http://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="batch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batch_deliver_boolean" type="xs:boolean" />
        <xs:element minOccurs="0" name="region" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="order">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="customer_company" type="xs:string" />
              <xs:element minOccurs="0" name="first_name" type="xs:string" />
              <xs:element minOccurs="0" name="last_name" type="xs:string" />
              <xs:element minOccurs="0" name="ship_to_addr">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="ship_to_street" type="xs:string" />
                    <xs:element minOccurs="0" name="ship_to_city" type="xs:string" />
                    <xs:element minOccurs="0" name="ship_to_state" type="xs:string" />
                    <xs:element minOccurs="0" name="ship_to_zip_code" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="description" type="xs:string" />
                    <xs:element minOccurs="0" name="confirmed_quantity" type="xs:unsignedByte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="optional" />
                  <xs:attribute name="price" type="xs:decimal" use="optional" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="total_price" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>